.divofloginform{

    margin-top: 20%;
    margin-left: 39%;
   width: 40%;
   position: absolute;
   
   
    
}
.loginform{
    width: 58%;

}
.button{
    margin-left: 84%;
}
.divoflogin{
    width: 100%;
    height: 100%;
    background-image: url('../../../public/img/Salco.jpg')
}