<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.borrowDao">
    <resultMap id="borrowMap" type="com.example.demo.model.Borrow">
        <result property="borrowId" column="borrowid"/>
        <result property="bookId" column="bookid"/>
        <result property="bookName" column="bookname"/>
        <result property="readerId" column="readerid"/>
        <result property="borrowTime" column="borrowbooktime"/>
        <result property="returnTime" column="returnbooktime"/>
        <result property="borrowStation" column="bookstate"/>


    </resultMap>

<resultMap id="statistic" type="com.example.demo.model.Statistic">
    <result property="number" column="count" />
    <result  property="bookType"  column="booktag"  />
</resultMap>

    <select id="selectBorrows" resultMap="borrowMap">
        SELECT a.borrowid, a.bookid, b.bookname, a.readerid, a.borrowbooktime, a.returnbooktime, a.bookstate
        FROM bookstatewithreader a, book b
        WHERE a.bookid=b.bookid
    </select>
    <select id="selectBorrowRequest" resultMap="borrowMap">
        SELECT a.borrowid, a.bookid, b.bookname, a.readerid, a.borrowbooktime, a.returnbooktime, a.bookstate
        FROM bookstatewithreader a, book b
        WHERE a.bookid=b.bookid and a.bookstate=0
    </select>
    <select id="selectReturnRequest" resultMap="borrowMap">
        SELECT a.borrowid, a.bookid, b.bookname, a.readerid, a.borrowbooktime, a.returnbooktime, a.bookstate
        FROM bookstatewithreader a, book b
        WHERE a.bookid=b.bookid and a.bookstate=4
    </select>
    <select id="selectStatistic" resultMap="statistic">
        SELECT count(a.borrowid) count , b.booktag
        FROM bookstatewithreader a, book b
        WHERE a.bookid=b.bookid and a.bookstate &lt;&gt; 3
        Group by b.booktag
    </select>
    <update id="updateAgreeBorrow" parameterType="com.example.demo.model.Borrow">
        update bookstatewithreader set
        borrowbooktime=curdate(),
        bookstate=2
        where borrowid=#{borrowId}
    </update>
    <update id="updateRefuseBorrow" parameterType="com.example.demo.model.Borrow">
        update bookstatewithreader set
        bookstate=3
        where borrowid=#{borrowId}
    </update>
    <update id="updateAgreeReturn" parameterType="com.example.demo.model.Borrow">
        update bookstatewithreader set
        returnbooktime=curdate(),
        bookstate=1
        where borrowid=#{borrowId}
    </update>
</mapper>
